:root {
  --title-color:color: #FFFFFF;
  --subtitle-color:color: #2E2F42;
  --portfolio-filters:color: #4D5AE5;
}


body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**-------------HEADER--------------- */

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--subtitle-color);
}
.header-logo-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--portfolio-filters);
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.header-addres-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**------------HERO--------------- */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--title-color);
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color);
}

/**-------------ADVANTAGES-------------- */




/**-------------PRODUCTS-------------- */




/**-------------TEAM-------------- */




/**-------------FOOTER-------------- */
.footer-logo{
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--subtitle-color);}

  .footer-logo-span{
   font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--portfolio-filters); 
  }
/**---------------PORFOLIO-NAVIGATION-------------------*/

.port-navigation-item{
font-weight: 500;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.04em;
color: var(--portfolio-filters);
}
.port-navigation-button:hover,
.port-navigation-button:focus{
  background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/**---------------PORFOLIO-AVATAR------------------*/
.port-avatar-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.port-avatar-text{
 font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455; 
}



