:root {
  --title-color:color: #FFFFFF;
  --subtitle-color:color: #2E2F42;
  --portfolio-filters:color: #4D5AE5;
}


body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**-------------HEADER--------------- */

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}
.header-logo-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-addres-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**------------HERO--------------- */

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

/**-------------ADVANTAGES-------------- */




/**-------------PRODUCTS-------------- */




/**-------------TEAM-------------- */




/**-------------FOOTER-------------- */
.footer-logo{
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;}
  .footer-logo-span{
   font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5; 
  }